* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  font-weight: 700;
}

.idea-input-header {
  background-color: #E5F3F2;
  color: #6D6E71;
  display: flex;
  height: 35vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: lowercase;
}

.idea-input-header em {
  color: #00A79D;
}

.new-idea-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.title-input {
  margin: 10px;
  height: 2.5em;
}

.body-input {
  margin: 10px;
  height: 2.5em;
}

.save-button {
  font-size: 1.2em;
  border-radius: 0;
  background-color: #00A79D;
  color: #FFFFFF;
  height: 2em;
  border: none;
  box-shadow: none;
  margin-top: 5px;
}

.save-button:hover {
  background-color: #045E55;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 500px;
  height: 2.5em;
}

.idea-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.idea {
  margin: auto;
  display:inline-block;
  width: 66vw;
  color: #939598;
  border-bottom: 100% solid #D1D3D4;
  height: 100%;
}
.idea-header {
  vertical-align: top;
}

.idea-header-buttons {
  float: right;
}
