* {
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 400;*/
}

/*font links in html account for the correct font-size already*/

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  /*font-weight: 700;*/
  margin-bottom: 10px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  /*font-weight: 700;*/
}

.idea-input-header {
  background-color: #E5F3F2;
  color: #6D6E71;
  display: flex;
  height: 35vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*text-transform: lowercase;*/
  /*this didn't change anything*/
}

.idea-input-header em {
  color: #00A79D;
}

.new-idea-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.title-input, .body-input {
  font-size: 16px;
  height: 2em;
  margin-top: 10px;
  text-indent: 8px;
}

.save-button {
  font-size: 1.2em;
  /*border-radius: 0;*/
  background-color: #00A79D;
  color: #FFFFFF;
  height: 2em;
  border: none;
  /*box-shadow: none;*/
  margin-top: 10px;
}

.save-button:hover {
  background-color: #045E55;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  font-size: 16px;
  height: 2em;
  margin-top: 20px;
  text-indent: 8px;
  width: 500px;
}

.idea-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.idea {
  margin: auto;
  margin-top: 15px;
  display: flex
  width: 500px;
  color: #939598;
  border-bottom: 100% solid #D1D3D4;
  height: 100%;
}
.idea-header {
  vertical-align: top;
}

.idea-header-buttons {
  float: right;
}
