* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

textarea, input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin: .4em 0;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
}

.idea-input-header {
  background-color: #E5F3F2;
  color: #6D6E71;
  min-height: 35vh;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}

.idea-input-header span {
  color: #00A79D;
}

.new-idea-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  width: 30em;
}

.title-input, .body-input {
  border: 1px solid #939598;
  font-size: 1.2em;
  height: 2em;
  margin: .4em 0;
  text-indent: 8px;
}

.body-input {
  resize: none;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 1.2em;
  height: 2em;
  margin: .2em 0;
  width: 100%;
}

.save-button:hover {
  background-color: #045E55;
}

.search-input {
  border: 1px solid #939598;
  font-size: 1.2em;
  height: 2em;
  margin-top: 20px;
  text-indent: 8px;
  width: 25em;
}

.search-form, .idea-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.idea {
  border-bottom: 1px solid #D1D3D4;
  color: #939598;
  line-height: 1.4em;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 30em;
}

.idea-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;

}
.idea-header h3 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.idea-header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
    -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.remove-idea {
  background: url(../img/delete.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.remove-idea:hover {
  background: url(../img/delete-hover.svg) no-repeat;
}

.idea-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  border: none;
  height: 20px;
  padding-right: 30px;
  width: 20px;
}

.upVote {
  background: url(../img/upvote.svg) no-repeat;
}

.upVote:hover {
  background: url(../img/upvote-hover.svg) no-repeat;
}

.downVote {
  background: url(../img/downvote.svg) no-repeat;
}

.downVote:hover {
  background: url(../img/downvote-hover.svg) no-repeat;
}

footer p{
  color: #6d6E71;
  margin-left: 5px;
}

@media (max-width: 600px) {
  html {
    min-width: 300px;
  }
  .idea-input-header h1 {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .new-idea-form, .idea-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .body-input {
    height: 6em;
    lines: 3;
    margin: .5em 0;
    text-indent: 8px;
  }
  .save-button {
    margin-bottom: 15px;
  }
  .search-input, .idea {
    width: 90%;
  }
  .idea-container {
    width: 100%;
  }
  .btn {
    padding-right: 25px;
  }
}
